/*
CosplayDesign Colors
basati sui colori di google material design A700
*/

$bianco: #FFFFFF;
$azzurro:#2980b9;
$grigio_griglia: #c8c8c8;
$grigio_griglia_chiara: #eee;


/* SOCIAL */
$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #d50f25;
$instagram-color: #125688;
$vimeo-color: #1AB7EA;
$cosplaydesign-color: #336699;




