@mixin rounded($tl,$tr:"",$bl:"",$br:"") {

  @if($tr == "" && $bl == "" && $br == "" ){
    border-radius: $tl;
    -webkit-border-radius: $tl;
    -moz-border-radius: $tl;
  }@else{
    @if($tr != ""){
    -webkit-border-top-right-radius: $tr;
    -moz-border-radius-topright: $tr;
    border-top-right-radius: $tr;
    }
    @if($tl != ""){
    -webkit-border-top-left-radius: $tl;
    -moz-border-radius-topleft: $tl;
    border-top-left-radius: $tl;
    }
    @if($bl != ""){
    -webkit-border-bottom-left-radius: $bl;
    -moz-border-radius-bottomleft: $bl;
    border-bottom-left-radius: $bl;
    }
    @if($br != ""){
    -webkit-border-bottom-right-radius: $br;
    -moz-border-radius-bottomright: $br;
    border-bottom-right-radius: $br;
    }
  }

}