.project-detail {}

/*LISTA PROGETTI*/
.project__list {}
.list__cover-image {
  margin:10px;
  float:left;
  width:80px;
  height:80px;
  overflow: hidden;
  @include rounded(100%);
  border:1px solid $grigio_griglia;
}
.list__progress{margin-top:15px;}

.cover-image-project { max-height: 330px; }

.project__description {
  width:70%;
}

/* TUTORIAL STEP */
.thumnail {
  img {
    :after {
      content: '';
      clear:both;
    }
  }
}
.turorial__stepper {
  list-style-position: outside;
  font-size: 1.6rem;
  margin-left:3.3rem;
  li {
    border-bottom:4px solid #999;
    .media {
      overflow: visible;}
    .media-body {font-size: 1rem;}
    ul{
      margin:0 30px 15px;
      list-style-type: decimal;
      li {border-bottom:none;}
    }

    ol {
      margin:0 30px 15px;
      list-style-type: square;
      li {border-bottom:none;}
    }
  }
}
.tutorial-step {

}
.thumnail__step {
  .caption {
    display: block;
    padding:10px 0 5px;
    font-size:11px;
    line-height: normal;
  }
}
img.step-image {
  max-width:250px;
  &--first {
   max-width:400px;
 }
}
