/*
Cosplay design sliders scss

MAIN SLIDER HOME
*/
.mycarousel{
  height: 500px !important;
}
.mycarousel .slick-slide {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  height: 500px !important;
  h1 {
    display: inline-block;
    padding: 5px;
    font: bold 30px "Roboto", sans-serif;
    background: #000;
    color: $bianco;
    letter-spacing: 3px;
    margin-top: 42rem;
   text-transform: uppercase;

  }
}

.slick-prev{}
.slick-next {
  right:0;
}